@using Online_Kurs_Platformu.Models
@model Online_Kurs_Platformu.Models.RegisterEgitmenModel
@{
	ViewBag.Title = "Index";
}

@{
	Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<head>
	<link rel="stylesheet" href="~/css/style_kayıt_ekranı.css" />
</head>

<body>
	<div class="row d-flex justify-content-center align-items-center box">
		<br>
		@using (Html.BeginForm("NewEgitmen", "Register"))
		{
			<div class="col">
				@*<p class="uni">XYZ Tech. Üni. Personel</p>*@
				<p class="uni">Online Kurs Platformu Egitmen</p>
				<div class="row align-items-center">
					<div class="col">
						@*<div class="Login">  @Html.LabelFor(a => a.BolumId, new { @class = "Login"})</div>*@
						@*<p class="Login">Bölüm</p>*@
						<p class="Login">Kategori</p>
					</div>
				</div>

				<div class="row align-items-center">
					<div class="col">
						<div>
							@Html.DropDownListFor(m => m.egitmen.KategoriId, Model.Kategoriler.Select(b => new SelectListItem(){
						Text = b.Ad,
						Value= b.Id.ToString()
						}),new {@class ="btn btn-outline-success dropdown-toggle btn-block"})
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="Login">  @Html.LabelFor(a => a.egitmen.Ad, new { @class = "Login"})</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<div> @Html.TextBoxFor(a => a.egitmen.Ad, new { @class = "form-control" })</div>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col">
						<div class="Login">  @Html.LabelFor(a => a.egitmen.Soyad, new { @class = "Login"})</div>
					</div>
				</div>

				<div class="row align-items-center">
					<div class="col">
						<div> @Html.TextBoxFor(a => a.egitmen.Soyad, new { @class = "form-control" })</div>
					</div>
				</div>


				<div class="row align-items-center">
					<div class="col">
						<div class="Login">@Html.LabelFor(a => a.egitmen.Sifre, new { @class = "Login"})</div>
					</div>
				</div>

				<div class="row align-items-center">
					<div class="col">
						<div> @Html.TextBoxFor(a => a.egitmen.Sifre, new { @class = "form-control", type = "Password", id="pwd" })</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<input type="submit" value="Register" class="button1" />
						@*<a class="nav-link baş" href="@Url.Action("Index","admin")">Ana sayfaya geri dön</a>*@
					</div>
				</div>

			</div>

			<br>
		}
	</div>

	<script>
		function myFunction() {
			var x = document.getElementById("pwd");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>

	<script>
		const visibilityToggle = document.querySelector('.visibility');

		const input = document.querySelector('.input-container input');

		var password = true;

		visibilityToggle.addEventListener('click', function () {
			if (password) {
				visibilityToggle.innerHTML = 'visibility';
			} else {
				visibilityToggle.innerHTML = 'visibility_off';
			}
			password = !password;

		});
	</script>
</body>